---
import '../styles/index_styles/style.css';
import '../styles/index_styles/dropdown.css';
import '../styles/index_styles/about.css';
import '../styles/index_styles/contact.css';
import '../styles/index_styles/nav.css';
---

<!DOCTYPE html>
<html>
<head>

	<title>Paul Timmermann</title>
	<meta name="description" content="Paul Timmermann - Hamburg, Bergedorf">
	<meta charset="utf-8">

	<link rel="icon" type="image/vnd.microsoft.icon" href="/assets/paul-timmermann_white.ico">
	<link rel="shortcut icon" href="/assets/paul-timmermann_white.ico">

	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
</head>
<body>

	<h1 id="Seo_title_inv">Paul Timmermann - Hamburg, Bergedorf</h1>

	<div class="nav">
		<div id="arrows">
			<a id="arw_1" href="/"></a>
			<a id="arw_2" href="/whatelse"></a>
		</div>

		<div id="tabs">
			<a id="tab_2" href="/whatelse">		<span><p>what_else.html</p></span></a>	<a id="x_2" onclick="closetab(2)">x</a>
			<a id="tab_1" href="/">	<span><p>index.html</p></span></a>	<a id="x_1" onclick="closetab(1)">x</a>
		</div>
		<div class="fold_in" onclick="fold()"></div>
	</div>
	<div class="page1"><a id="Home"></a>


		<div class="title_spacing_center">
			<div class="title_spacing">
				<span id="title_1">Hey, I am Paul<br></span>
				<span id="title_2">{'{'}
									<br>
									<span id="MediaDesigner">Student</span> 
									based in <span id="Hamburg">Hamburg</span><br>
									{'}'}
				</span>
			</div>

				<div id="learn_more">
					<a id="more" href="#About">Learn more</a><span id="moreimg">-></span>
				</div>
				
			</div>
	</div>

	


	<div id="page2"><a id="About"></a>

		<div id="learn_more_spacing">
			<div id="learn_more">
				<a id="more" href="#contact">Contact now</a><span id="moreimg">-></span>
			</div>
		</div>

			<section data-aos="fade-right" id="page2_spacing">
			
				<span id="about_title">About me</span><br>

					<span id="about_text">
						I am <span class="about_blue">Paul Timmermann</span>, a <span class="about_red">20-year-old</span>,<br>
						Industrial Engineering <span class="about_green">student</span> based in <span class="about_blue">Hamburg</span>,  <span class="about_red">Germany</span>.<br>
						Apart from my my <span class="about_blue">Studies</span>, I engange in personal <span class="about_red">projects</span>,<br>
						and enjoy occasional <span class="about_green">sports</span> activities.
				</span>

	</div>

	<div id="page3"><a id="contact"></a>
		<h1 data-aos="zoom-in" id="p3_head">Contact</h1>



		<div id="contact_links_spacing">
				<a class="contact_links" id="linkedIn" href="https://www.linkedin.com/in/paul-timmermann/" target="_blank">
		    		<img alt="Paul Timmermann - LinkedIn" class="social_imgs" id="social_small" src="/assets/linked.png">
		    		<span class="contact_text" id="linked_text">Paul Timmermann</span>
				</a>

				<a class="contact_links" id="mail" href="mailto:paul@paul-timmermann.de" target="_blank">
		    		<img alt="Paul Timmermann - Email" class="social_imgs" src="/assets/mail.svg">
		    		<span class="contact_text">paul[at]paul-timmermann[dot]de</span>
				</a>

				<a class="contact_links" id="instagram" href="https://www.instagram.com/paul28.11/" target="_blank">
		    		<img alt="Paul Timmermann - Instagram" class="social_imgs" id="social_small" src="/assets/instagram.png">
		    		<span class="contact_text">@paul28.11</span>
				</a>
		</div>
	</div>

<!-- 		JavaScript - Implementations		 -->

		<script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
		<script is:inline>
			AOS.init();
		</script>

		<script is:inline src="/script.js"></script>

</body>
</html>