---
---

<html>
<head>
	<title>Paul Timmermann | Seite nicht gefunden!</title>
	<link rel="stylesheet" type="text/css" href="/src/styles/error/style.css">
	<link rel="icon" type="image/vnd.microsoft.icon" href="/assets/paul-timmermann_white.ico">

	<meta charset="utf-8"/>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>
<section>
	
	<div title="404">404</div>

	<h1 id="error">
		Diese Seite kann nicht gefunden werden.:( <br>
		Es würde mir sehr helfen, wenn du mir den Fehler per <a href="mailto:paul.timmermann@netthelp.de">Mail</a> schilderst!
	</h1>

	<a href="https://paul-timmermann.de/" id="back">Zurück zur Startseite!<span id="moreimg">-></span></a>
</section>

<body>

</body>
</html>